<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (!currentUser) { %>
      <title>Authentication</title>
    <% } else {%>
      <title>Favorite Recipe Book</title>
    <% } %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('partials/alerts') %>
    <header>
      <nav>
        <ul class="nav">
          <% if (!currentUser) { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } else {%>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/recipe">Search for A Recipe</a></li>
            <li><a href="/recipe/cuisines">Search By Cuisine</a></li>
            <li><a href="/recipe/favorites">Favorites</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <% if (!currentUser) { %>
      <h1 id="auth">Authentication</h1>
    <% } %>
    <%- body %>
  </body>
</html>