<div class="search">
    <h1>Recipe Search By Cuisine</h1>
    <h4>Choose a Cuisine</h4>
    <form method="GET" action="/recipe/cuisines/results">
        <input type="radio" id="African" name="cuisine" value="African">
        <label for="African">African</label><br>
        <input type="radio" id="American" name="cuisine" value="American">
        <label for="American">American</label><br>
        <input type="radio" id="British" name="cuisine" value="British">
        <label for="British">British</label><br>
        <input type="radio" id="Cajun" name="cuisine" value="Cajun">
        <label for="Cajun">Cajun</label><br>
        <input type="radio" id="Caribbean" name="cuisine" value="Caribbean">
        <label for="Caribbean">Caribbean</label><br>
        <input type="radio" id="Chinese" name="cuisine" value="Chinese">
        <label for="Chinese">Chinese</label><br>
        <input type="radio" id="Eastern European" name="cuisine" value="Eastern+European">
        <label for="Eastern European">Eastern European</label><br>
        <input type="radio" id="European" name="cuisine" value="European">
        <label for="European">European</label><br>
        <input type="radio" id="French" name="cuisine" value="French">
        <label for="French">French</label><br>
        <input type="radio" id="German" name="cuisine" value="German">
        <label for="German">German</label><br>
        <input type="radio" id="Greek" name="cuisine" value="Greek">
        <label for="Greek">Greek</label><br>
        <input type="radio" id="Indian" name="cuisine" value="Indian">
        <label for="Indian">Indian</label><br>
        <input type="radio" id="Irish" name="cuisine" value="Irish">
        <label for="Irish">Irish</label><br>
        <input type="radio" id="Italian" name="cuisine" value="Italian">
        <label for="Italian">Italian</label><br>
        <input type="radio" id="Japanese" name="cuisine" value="Japanese">
        <label for="Japanese">Japanese</label><br>
        <input type="radio" id="Jewish" name="cuisine" value="Jewish">
        <label for="Jewish">Jewish</label><br>
        <input type="radio" id="Korean" name="cuisine" value="Korean">
        <label for="Korean">Korean</label><br>
        <input type="radio" id="Latin American" name="cuisine" value="Latin+American">
        <label for="Latin American">Latin American</label><br>
        <input type="radio" id="Mediterranean" name="cuisine" value="Mediterranean">
        <label for="Mediterranean">Mediterranean</label><br>
        <input type="radio" id="Mexican" name="cuisine" value="Mexican">
        <label for="Mexican">Mexican</label><br>
        <input type="radio" id="Middle Eastern" name="cuisine" value="Middle+Eastern">
        <label for="Middle Eastern">Middle Eastern</label><br>
        <input type="radio" id="Nordic" name="cuisine" value="Nordic">
        <label for="Nordic">Nordic</label><br>
        <input type="radio" id="Southern" name="cuisine" value="Southern">
        <label for="Southern">Southern</label><br>
        <input type="radio" id="Spanish" name="cuisine" value="Spanish">
        <label for="Spanish">Spanish</label><br>
        <input type="radio" id="Thai" name="cuisine" value="Thai">
        <label for="Thai">Thai</label><br>
        <input type="radio" id="Vietnamese" name="cuisine" value="Vietnamese">
        <label for="Vietnamese">Vietnamese</label><br>
        <input class="alert alert-primary" type="submit" value="Search"/>
    </form>
</div>