<div class="search">
    <h1>Recipe Search</h1>
    <form method="GET" action="/recipe/results">
        <input id="search" type="text" name="search" placeholder="Search For A Recipe" /></br>
        <input class="alert alert-primary" type="submit" value="Search"/>
    </form>
</div>